body,
html {
  margin: 0;
  padding: 0;
  height: 90%;
  color-scheme: light dark;

}

body {
  padding: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
}

body, input {
  display: -webkit-flex;
  font-family: 'Avenir', 'helvetica neue', helvetica, arial, sans-serif;
}

.age-label {
  color: #B0B5B9;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0 0 0 2px;
}

#bottomline {
  background-color: rgba(80,80,80,1);
  width: 100%;
  padding: 6px;
  color: #B0B5B9;
  font-size: 0.8rem;
  margin-top: 8px;
  position: fixed;
  bottom: 0;
  display:flex;
  justify-content:center;
}

#bottomlinecenter {
  margin-left:auto;
  transform: translateX(16px);
}

#bottomlineright {
  margin-left:auto;
  padding-right: 16px;
}

#bottomlineleft {
  padding-left: 16px;
}

#bottomline a {
  color: rgb(154, 157, 160);
  text-decoration: none;
}
#bottomline a:visited {
  color: rgb(125, 128, 131);
}
#bottomline a:hover {
  color: rgb(202, 207, 209);
}
#bottomline a:active {
  color: rgb(125, 128, 131);
} 

@media (prefers-color-scheme: dark) {
  #bottomline a {
      color: #fff;
  }
}

.count {
  color: #494949;
  margin: 0;
  font-size: 6rem;
  line-height: 1;
  font-weight: 600;
}

.count sup {
  font-size: 2.4rem;
  margin-left: 7px;
}

label {
  display: block;
}

input, button {
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
}

input {
  margin-right: 0.5rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #CCC;
  background-color: #FFF;
}

@media (prefers-color-scheme: dark) {
  input {
    border-color: #333333;
    background-color: #000;
  }
}

button {
  outline: none;
  display: block;
  cursor: pointer;
  color: #FFF;
  border: none;
  border-radius: 0.25rem;
  background-color: #B22222;
}

#timeentry {
  padding-top: 24px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
}

@media screen and (max-width:600px) {
  footer {
   flex-direction: column !important; 
  }
  footer > * {
    margin: 8px;
  }
  #bottomline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bottomlineleft {
    padding-left: 0 !important;
  }
  #bottomlinecenter {
    margin-left: initial !important;
    transform: initial !important;
  }
  #bottomlineright {
    margin-left: initial !important;
    padding-left: initial !important;
  }
}
